[vault]
%{ for vault_host in vault_hosts ~}
${vault_host}
%{ endfor ~}

[consul]
%{ for consul_host in consul_hosts ~}
${consul_host}
%{ endfor ~}

[ansible]
ansible_python_interpreter=/home/azureuser/.local/share/pipx/shared/bin/python
%{ for ansible_host in ansible_hosts ~}
${ansible_host}
%{ endfor ~}

[all:children]
vault
consul

[all:vars]
user=${username}