[vault]
%{ for vault_host in vault_hosts ~}
${vault_host}
%{ endfor ~}

[consul]
%{ for consul_host in consul_hosts ~}
${consul_host}
%{ endfor ~}

[ansible]
%{ for ansible_host in ansible_hosts ~}
${ansible_host}
%{ endfor ~}